
.single-profile {
  padding-bottom: 0.75rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.single-profile:not(:last-child) {
  border-bottom: 1px solid #dbdbdb;
}

.avatar-wrapper {
  height: 25%;
  width: 25%;
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
  overflow: hidden;
  background-color:pink;
}

.avatar {
  width: 100%;
  height: 100%;
}

.list-content-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.username {
  margin: 1rem 0;
  font-size: 2rem;
  width: 75%;
}

.btn--wrap {
  width: 65px;
  height: 65px;
  margin: 0;
  padding: 0;
}

.expand-btn {
  width: 100%;
  height: 100%;
  font-size: 3rem;
  font-weight: 600;
  color: rgb(117, 117, 117);
  border-radius: 5px;
  border: 0px solid rgb(117, 117, 117);
  background-color: white;
  line-height: 18px;
}

.expand-btn:hover {
  color: rgb(59, 59, 59);
  border-radius: 5px;
  border: 1px solid rgb(117, 117, 117);
  background-color: white;
}

.profile-info {
  margin: 0.25rem 0;
  padding-left: 1rem;
  width: 100%;
}

.div--grade-disp {
  width: 100%;
  margin-top: 1rem;
}

.wrap--tag {
  width: 100%;
  margin-top: 0.5rem;
  display: block;
}

.tag {
  margin: 0 0.25rem;
  padding: 0.5rem;
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(99, 179, 216);
}

.input--tag {
  width: 30%;
  height: 1.5rem;
  margin-top: 1rem;
  font-size: 1.25rem;
  border: 0px solid grey;
  border-bottom: 2px  solid #bbbbbb;
}